:root {
  --regular-font: 'SF-Pro-Display-Regular', sans-serif;
  --medium-font: 'SF-Pro-Display-Medium', sans-serif;
  --bold-font: 'SF-Pro-Display-Bold', sans-serif;

  --main-color: #e9e9ea;
  --sub-color: rgba(233, 233, 234, .5);

  --white: #F6F6F6;
  --light-gray: #363945;
  --gray: #2A2D35;
  --dark-gray: #1c1f24;
  --black: #1B1D21;

  --blue: #356BF5;
  --pink: #FA2B76;
  --yellow: #E2BB58;
  --green: #25AF67;

  --big-radius: 16px;
  --medium-radius: 8px;
  --small-radius: 4px;
}